.nav_container {
    background-color: rgb(248, 153, 29);
    width: 100%;

    .nav_content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: .6rem;

        img {
            height: 6.5rem;
            width: auto;
        }

        .list_nav {
            display: flex;
            gap: 5rem;

            a {
                padding: .7rem;
                color: #fff;
                font-size: 1.1rem;
                font-weight: 600;
                transition: .3s ease-in-out;
                border-bottom: 2.5px solid transparent;

                &:hover {
                    border-bottom: 2.5px solid rgb(0, 51, 102);
                }
            }
        }
    }
}